.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.align{
    margin: 20px 0;
    text-align: center;
}
.align button{
    margin: 0 10px;
    padding: 6px 30px;
    font-weight: bold;
    background-color: inherit;
    border: 1px solid #333;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.align button:hover{
    background-color: #333;
}
.box{
    width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #999;
    border: 1px solid #333;
    border-radius: 12px;
    color: #fff;
}
.box h3{
    margin: 0;
    padding: 10px 0;
}
.box hr{
    margin: 0;
    border: 0.5px solid #333;
}
.box a{
    color: #000;
    text-decoration: none;
}